[submodule "tools/satnogs-decoders"]
	path = tools/satnogs-decoders
	url = https://gitlab.com/librespacefoundation/satnogs/satnogs-decoders.git
[submodule "tools/satnogs-decoders"]
	path = tools/satnogs-decoders
	url = https://gitlab.com/librespacefoundation/satnogs/satnogs-decoders.git
